
.container{
  width: 100%;
  height: 500px;
  background-color: black;

}

label {
    color: white;
}
.fm{
  padding-top: 100px;
  text-align: center;
}
.form-button {
    margin-top: 20px;
    margin: 20px;
    font-size: 18px;
}
input {
    margin-bottom: 25px;
}
